# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
*.log
media/
staticfiles/
*.pot
*.pyc

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env